DB_USER=userdb
DB_PASSWORD=password
TEST_DB_USER=userdb
TEST_DB_PASSWORD=password
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=yourmail
MAIL_PASSWORD=yourpass
ACCESS_TOKEN_SECRET_KEY=strongsecret
ACCESS_TOKEN_EXPIRATION=8640000
REFRESH_TOKEN_EXPIRATION=604800000
